<div class="contenedor">
  <form class="alinearCentroH">
    <div class="form-group mx-auto">
      <label for="nombre">Nombre de usuario</label>
        <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Usuario"
            [(ngModel)]="policiaLog.usuario">
    </div>
    <div class="form-group">
      <label for="passwd">Contraseña</label>
      <input type="password" class="form-control" name="passwd" id="passwd" placeholder="Passwd"
            [(ngModel)]="policiaLog.passwd">
    </div>
    <button type="submit" class="btn btn-primary" (click)="loggear()">Submit</button>
  </form>
</div>