.clear {
    margin: 15px;
}
.required{
    color: red;
    font-weight: bolder;
    margin-right: 5px;
    margin-left: 5px;
}
.form-container{
    margin: 0 auto;
    width: 450px;
}
.col-sm-2{
    max-width: 100%;
}
.title-Form{
    margin-left: 3%;
}
.alert{
    margin-left: 3%;
    width: 80%;
}
.clear{
    margin: 15px;
}
.button-container{
    background-color: blue;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 15%;
    min-width: 280px;
    height: 38px;
}
.button-entity{
    margin: 0 auto;
    margin-left: 5px;
    display: inline-block;
    white-space:nowrap;
    margin-right: 5px;
}