<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">  
  <div class="button-container">
    <div class=button-entity>
      <button type="button" [routerLink]="['/userComponent']" class="btn btn-primary">Usuarios</button>
    </div>
    <div class=button-entity>
      <button type="button" [routerLink]="['/createUserComponent']" class="btn btn-success">Agregar Usuarios</button>
    </div>
  </div>
  <h1>Usuarios Registrados</h1>
  <div class="clear"></div>     
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>1er Apellido</th>
        <th>2º Apellido</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.apellido2}}</td>
        <td>{{item.email}}</td>
        <td>{{item.telefono}}</td>
        <td>
            <img class="icon-update" src="../../assets/img/icon/edit_user.png" (click)="edit(item)"/>
            <img class="icon-delete" src="../../assets/img/icon/delete_user.png" (click)="delete(item)" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>

